#ban1{
    background-image: url("https://img.lovepik.com/background/20211022/large/lovepik-blue-tech-background-image_401906812.jpg");
    height: 100px;
    color: white;
    font-weight: 100;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;

    
}
#cnt{
    background-image: url("https://img.lovepik.com/background/20211022/large/lovepik-blue-tech-background-image_401906812.jpg");
    color: white;
    font-size: 40px;

}